<?xml version="1.0" encoding="windows-1251"?>
<setting>
<pathStandSensor>D:\Рабочие файлы\Проекты\Текущие проекты\Проект Редактор HTML\HTMLCreator\bin\Debug\Warning.png </pathStandSensor>
<PasswordLisence>yEChYzMs8gLcdv8Pa/OYXGl8NX7qknNa1AXBsedE/KVLO9iEQG5mz4w1Fyi6GrDuBWnmdjqyM6yTYoWBbNRoO7R2UFYNiTAcK7LZXcrcjiKCDlubxb2dSgFxhoANBBcPfwR8qqvuFRqbUc6we8ZdUlnxmnvUBBlrjlUaQEnGS0nib6x9c9HECCZVZmZ/vh51cO3ZEw2KIkaalMogxw59998+yeIW73RHcaV6LuEXCae/LJbtnBcCa9HY/9ynPNIioZVZnWgqG6sPg5LXtmENsbQFNZ79grM185XgCGpiKNuYmBRYhOS8X6RsGZtLUDWtSDLa6skI1Z5Wn3lwc+j7SZ2l1N+WSK92QCbg9Egc0fD/PIKTHQkbdzy1ZIGhMjEQpoXi5S7LaSHzubP+z9jP4zLJ07LwbcGh7hq7inPX6/b0F2J6aMgRREet3YoOCkkSbJg3awey76ZCLb5J7qL6Zgc3ZMJWezEqltfARq1GWzEKunOg7zWsP+VsD2g2tY0VOyMaUPU+BzHKSVlzSbiCFeCEsu8G2CgpuKSgkGOX3aVwNTsmogQTjWMsLcpEDkgOabdGtEvohAZGnqCIFkDlhJeUlMomk9znIEc7mndIQrjemO9pYkqljxhSxOShsO6EDb74qJyqWjXRZOF1JzwdPl24jQDSw4MNvIKlwImWCC6vgdfis2ngDCevbVWIeovbHMULtFhekoPxhzoHrF5BZQmJPvPt81QpDWEkM9OO5xg=</PasswordLisence>	
</setting>